@import "../node_modules/open-props/open-props.min.css";
@import "../node_modules/open-props/normalize.min.css";

body {
  background: var(--surface-1);
  color: var(--text-1);
  font-family: var(--font-sans);
}